/* fonts */
/* colors */
body {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  color: #0a0e22; }

header {
  margin-top: 5%;
  font-family: "Playfair Display", serif; }

#intro {
  font-family: "Playfair Display", serif; }

#tooltip {
  display: none; }

#container {
  display: grid;
  grid-template-columns: 1fr 5fr 6fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas: ". sm form ." ". sm form ." ". . form ." "footer footer footer footer";
  grid-gap: 20px; }

#summary {
  grid-area: sm;
  border: 2px solid #0a0e22;
  border-radius: 5px;
  position: sticky;
  top: 20px; }

#form {
  grid-area: form;
  background-color: grey; }
  #form .singleline {
    display: block; }
    #form .singleline:not(:first-child) {
      margin-top: 150px; }

#responseText p {
  display: none; }

footer {
  grid-area: footer; }
