/* fonts */
$header-font: 'Playfair Display', serif !default;
$main-font: 'Didact Gothic', sans-serif !default;
$writing-font: 'Schoolbell', cursive;

/* colors */
$main-color: rgb(10, 14, 34);

$main-border: 2px solid $main-color;
$border-rad: 5px;
