@import 'variables';
@import 'mixins';

body {
  text-align: center;
  font-family: $main-font;
  color: $main-color;
}

header {
  margin-top: 5%;
  font-family: $header-font;
}

aside {
  grid-area: sm;
  padding: 15px 30px;

  position: sticky;
  top: 10px;

  font-family: $writing-font;
  font-size: 150%;
  text-align: left;

  @include border;
}

#passwordInput {
  width: 30%;
  height: 30px;

  font-size: 120%;
}

#intro {
  margin: 100px 0;

  font-family: $header-font;
  font-size: 200%;
}

#tooltip {
  margin: 0 auto;
  width: 40%;
  display: none; //On load it shouldn't be visible.

  text-align: left;

  @include border;
  padding: 0 30px;
  margin-top: 20px;
}

#container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 5fr 6fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
  ". sm form ."
  ". sm form ."
  ". . form ."
  "footer footer footer footer";
  grid-gap: 20px;
}

#form {
  grid-area: form;
  padding: 20px 30px;
  background-color: white;
  font-size: 120%;
  @include border;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label:before {
    background-color: white;
    @include border;
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    margin: -2px 6px 0 0;
    vertical-align: middle;
  }

  input[type="checkbox"]:checked + label:before {
    content: "\2713";
  }


  .singleline {
    display: block;

    &:not(:first-child) {
      margin-top: 150px;
    }
  }
}

#responseText {
  p {
    display: none;
    font-family: $writing-font;
  }
}

footer {
  grid-area: footer;
}

.cta {
  margin: 5px;
  padding: 20px 30px;

  font-size: 90%;
  font-weight: bold;

  @include border;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }

  &:focus {outline:0;}
}

.cta-primary {
  margin-top: 40px;
  color: white;
  background-color: $main-color;
}
